<div style="background-image:url({{movie.poster_path | imgTemplate }}); background-size:100% auto; background-repeat: no-repeat" class="modal" ng-if="movie" ng-class="openModal? 'show': ''">


    <div class="backposter" ></div>
    <div class="modal_container">
        <div class="container">

            <div ng-click="close()" class="close">×</div>
       <div class="img_block left">
            <img src="{{movie.poster_path | imgTemplate}}">
        </div>
        <div class="right">
            <div class="row button_row" ng-controller="switchController">
                <button class="button" ng-click="previousMovie()">Prev</button>
                <button class="button" ng-click="nextMovie()">Next</button>
            </div>
            <div class="row">
                <div class="header">
                    {{movie.title}}
                </div>
                <div class="fav">
                    {{favor}}
                </div>
            </div>
            <div class="row">
                <div class="text vote_avarage">
                    {{movie.vote_average}}
                </div>
                <div class="text vote_count">
                    {{movie.vote_count}}
                </div>
            </div>
            <div class="overview text">
                {{movie.overview}}
            </div>
        </div>
        </div>
    </div>
</div>
